@import "tailwindcss";

:root {
    background-image: url("./assets/bg-temple.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-color: rgb(235, 230, 230);
}


@theme {
    --font-quicksand: "Quicksand", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-playfair: "Playfair Display", serif;
    --font-ptserif: "PT Serif", serif;
    --font-opensans: "Open Sans", sans-serif;


}