@import "tailwindcss";


@theme {
    --font-quicksand: "Quicksand", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-playfair: "Playfair Display", serif;
    --font-ptserif: "PT Serif", serif;
    --font-aldrich: "Aldrich", monospace;
    --font-explora: "Explora", monospace;
    --font-funnel: "Funnel Display", monospace;
    --font-inter: "Inter", monospace;
    --font-monster: "Montserrat", monospace;
    --font-poiret: "Poiret One", monospace;
    --font-geist: "Geist", monospace;

}